# Angular / Node
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# IDEs
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db

# Env (si algún día agregas variables)
.env
.env.*
